[Ll]ibrary/

[Tt]emp/

[Oo]bj/

[Bb]uild/

[Bb]uilds/

*.sln
*.suo
*.csproj

*.unityproj
*.unity3d
 
*.user
*.userprefs
*.DS_store

Thumbs.db
Assets/Materials/GUI Pie HandWash.mat
Assets/Materials/GUI Pie HandWash.mat
Assets/Materials/GUI Pie Patient.mat
Assets/Materials/GUI Pie HandWash.mat
Assets/Materials/Sprite Tile.mat
Assets/Materials/GUI Pie.mat
Assets/Materials/GUI Pie Patient.mat
